.showMail {
margin-top: -150px;
margin-left: 180px;
display: flex;
flex-direction: column;
}
.mainMessagebg{
    border: 1px solid #ddd;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    margin-left: -19px;
}
.messageContact{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 5px;
}
.backNavigation{
    text-decoration: none !important;
    color: black !important;
}
.backNavigation:hover{
    color: black;
}
.delNavigation{
    text-decoration: none !important;
    color: black !important;
}
.delNavigation:hover{
    color: blue !important;
}